main {
  place-self: center;
  height: 280vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.home__container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.info__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  width: 100%;
  text-align: left;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hello {
  color: #1d1e22;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px; /* 90.625% */
  font-family: "Inter", sans-serif;
}

.name {
  color: #1d1e22;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.developer {
  color: #ff8e5e;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 53px; /* 82.813% */
}

.info-text {
  color: #1d1e22;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 135% */
}

.button-contact {
  width: 13.5vw;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #ff8e5e;
  color: #1d1e22;
}

.button-contact:hover {
  transition: 0.4s;
  background: #fff;
  border: 1px solid #1d1e22;
}

.linguagens__container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.nome-linguagem {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.14px;
  text-transform: uppercase;
}

.separacao {
  color: #ff8e5e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.linguagens__container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.projects__container {
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
}

.projects__container h1 {
  grid-row: 1;
  color: #ff8e5e;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  place-self: center;
}

.projects__images {
  grid-row: 2;
  height: 100%;
  width: 100%;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.bottom div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lion-school-mobile img {
  width: 8.8vw;
  height: 30.9vh;
  flex-shrink: 0;
}

.top div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top img {
  width: auto;
  height: 32.4vh;
  flex-shrink: 0;
}

.projects__images span {
  font-family: "Inter", sans-serif;
  color: #1d1e22;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.14px;
  text-transform: uppercase;
}

.text-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: end;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons i {
  font-size: 4rem;
  cursor: pointer;
}

.fa-github:hover {
  transform: translateY(-10px);
  transition: 0.4s;
  color: #ff8e5e;
}
.fa-twitter:hover {
  transform: translateY(-10px);
  transition: 0.4s;
  color: #ff8e5e;
}
.fa-linkedin:hover {
  transform: translateY(-10px);
  transition: 0.4s;
  color: #ff8e5e;
}

.about__container {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10vh 1fr;
}

.about__title {
  grid-row: 1;
  color: #ff8e5e;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  place-self: center;
}

.about__me {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.text-languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.text-languages span {
  color: #1d1e22;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 112.5% */
}
