@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

.App {
  text-align: center;
  height: 300vh;
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 10vh;
  color: #1d1e22;
}

main {
  height: 80%;
}

footer {
  height: 10%;
}
